registry=https://registry.npmmirror.com/
shamefully-hoist=true
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
sass-binary-site=https://cdn.npmmirror.com/binaries/node-sass
puppeteer_download_host=https://cdn.npmmirror.com/binaries
